@import url("https://fonts.googleapis.com/css?family=Raleway:400,700");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Raleway, sans-serif;
}
body {
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
body, html {
	height:100%;
	background-image: url("rnhsimgjohn .jpg");
	background-repeat: no-repeat;
	background-position: center;
	font-family: calibre, Helvetica, sans-serif;
}
.screen {
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
  position: relative;
  height: 600px;
  width: 360px;
  box-shadow: 0px 0px 24px #5c5696;
}

.screen__content {
  z-index: 1;
  position: relative;
  height: 100%;
}

.screen__background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  -webkit-clip-path: inset(0 0 0 0);
  clip-path: inset(0 0 0 0);
}

.screen__background__shape {
  transform: rotate(45deg);
  position: absolute;
}

.screen__background__shape1 {
  height: 50px;
  width: 150px;
  background: #fff;
  top: -50px;
  right: 120px;
  border-radius: 0 72px 0 0;
}

.screen__background__shape2 {
  height: 220px;
  width: 220px;
  background: #6c63ac;
  top: -172px;
  right: 0;
  border-radius: 32px;
}

.screen__background__shape3 {
  height: 540px;
  width: 190px;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
  top: -24px;
  right: 0;
  border-radius: 32px;
}

.screen__background__shape4 {
  height: 400px;
  width: 200px;
  background: #5c5696;
  top: 420px;
  right: 50px;
  border-radius: 60px;
}
.login {
  width: 320px;
  padding: 30px;
  padding-top: 156px;
}

.login__field {
  padding: 20px 0px;
  position: relative;
}

.login__icon {
  position: absolute;
  top: 30px;
  color: #5c5696;
}

.login__input {
  border: none;
  border-bottom: 3px solid #d1d1d4;
  background: none;
  padding: 10px;
  padding-left: 24px;
  font-weight: 700;
  width: 80%;
  transition: 0.16s;
}

.login__input:active,
.login__input:focus,
.login__input:hover {
  outline: none;
  border-bottom-color: #5c5696;
}

.login__submit {
  background: #fff;
  font-size: 14px;
  margin-top: 30px;
  padding: 16px 20px;
  border-radius: 26px;
  border: 2px solid #d4d3e8;
  text-transform: uppercase;
  font-weight: 800;
  display: flex;
  align-items: center;
  width: 60%;
  color: #4c489d;
  box-shadow: 10px 10px 2px #5c5696;
  cursor: pointer;
  transition: 0.2s;
}

.login__submit:active,
.login__submit:focus,
.login__submit:hover {
  border-color: #5c5696;
  outline: none;
}

.button__icon {
  font-size: 24px;
  margin-left: auto;
  color: #5c5696;
}

.social-login {
  position: absolute;
  height: 140px;
  width: 160px;
  text-align: center;
  bottom: 0px;
  right: 0px;
  color: #5c5696;
}

.social-icons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-login__icon {
  padding: 20px 10px;
  color: #fff;
  text-decoration: none;
  text-shadow: 0px 0px 8px #7875b5;
}

.social-login__icon:hover {
  transform: scale(1.5);
}
.form-container .user-signup{
    color: #333;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    display: block;
}
.form-container .user-signup a{
    color: #007bb7;
    transition: all 0.3s ease 0s;
}
.form-container .user-signup a:hover{
    color: #555;
    text-shadow: 0 0 1px rgba(0,0,0,0.5);
}
      @media screen and (max-width: 970px) {

body{
    margin-left: 130px;
    margin-right: 130px;
   
}

}
            @media screen and (max-width: 600px) {

body{
    margin-left: 0px;
    margin-right: 0px;
}

}
